@{
    ViewData["Title"] = "Inicio";
}
<div class="center">
    <img src="" alt="logo"/>
    <p>Bienvenido a PreguntadORT</p>
    <a class="btn" href="@Url.Action("ConfigurarJuego","Juego")">Ir a Jugar</a>
</div>

