@{
    ViewData["Title"] = "Respuesta";
}
<header>
    <nav class="navbar">
    <div class="nav-logo"><img src="~/img/Logo.png" alt="Logo" />
</div>

    <div class="Titulo"><h1 class="mt-3"></h1></div>
    <div class="nav-links">
        <a href="@Url.Action("ConfigurarJuego","Home")" class="nav-btn">Jugar</a>
    </div>
</nav>
</header>
<div class="text-center">
    @if (ViewBag.EsCorrecta == true)
    {
        <h1 class="text-success">¡Correcto!</h1>
    }
    else
    {
        <h1 class="text-danger">Incorrecto</h1>
        <h3 class="text-danger">La respuesta correcta era: @ViewBag.RespuestaCorrecta</h3>
    }

    <a class="btn btn-primary" href="@Url.Action("Jugar","Home")">Siguiente pregunta</a>
</div>
