@{
    ViewData["Title"] = "Respuesta";
}
<div class="text-center">
    @if (ViewBag.EsCorrecta == true)
    {
        <h1 class="text-success">¡Correcto!</h1>
    }
    else
    {
        <h1 class="text-danger">Incorrecto</h1>
        <h3 class="text-danger">La respuesta correcta era: @ViewBag.RespuestaCorrecta</h3>
    }

    <a class="btn btn-primary" href="@Url.Action("Jugar","Home")">Siguiente pregunta</a>
</div>
